<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/blog"><input type="submit" value="Blog list"></a></p>
<a href="/category/create">Create new Category</a>
<h1>Category</h1>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="category : ${categoryList}">
        <tr>
            <td th:text="${category.name}"></td>
            <td><a th:href="@{/category/edit/__${category.id}__ }">Edit</a></td>
            <td><a th:href="@{/category/delete/__${category.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>