<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Edit product</h3>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/update}" th:object="${product}" method="POST" novalidate="novalidate">
        <fieldset>
            <legend>Product information</legend>
            <table>
                <input type="hidden" th:field="*{id}"/>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="number" th:field="*{price}"></td>
                </tr>
                <tr>
                    <td>Describe:</td>
                    <td><input type="text" th:field="*{describe}"></td>
                </tr>
                <tr>
                    <td>Production company:</td>
                    <td><input type="text" th:field="*{productionCompany}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Update product"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>