<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/category"><input type="submit" value="List categories"></a></p>
<a href="/blog/create">Create new Blog</a>
<h1>List Blog</h1>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form>
    Search by Author or Title:
    <input name="keyword" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>

<table border="1" style="border-collapse: collapse">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Content</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="blog : ${blogList}">
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.category.name}"></td>
        <td><span style="display:block; text-overflow: Ellipsis; width: 300px; overflow: hidden; white-space: nowrap;" th:text="${blog.content}"></span></td>
        <td><a th:href="@{/blog/show/{id}(id=${blog.id})}">show</a></td>
        <td><a th:href="@{/blog/edit/{id}(id=${blog.id})}">edit</a></td>
        <td><a th:href="@{/blog/delete/{id}(id=${blog.id})}">delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{'/blog'(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}">Previous</a>
    <span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>
    <a th:href="@{'/blog'(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}">Next</a>
</div>
</body>
</html>