<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create new Blog</a>
<h1>List Blog</h1>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<table border="1" style="border-collapse: collapse">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>content</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="blog : ${blogList}">
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.title}"></td>
        <td><span style="display:block; text-overflow: Ellipsis; width: 300px; overflow: hidden; white-space: nowrap;" th:text="${blog.content}"></span></td>
        <td><a th:href="@{/blog/show/{id}(id=${blog.getId()})}">show</a></td>
        <td><a th:href="@{/blog/edit/{id}(id=${blog.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/delete/{id}(id=${blog.getId()})}">delete</a></td>
    </tr>
</table>
</body>
</html>